color=true
commit-hooks=true
git=git
global=true
init-author-email=b.dirheimer@gmail.com
init-author-name=bradley Dirheimer
init-license=MIT
init-module=C:\Users\bdirh\.npm-init.js
init-version=1.0.0
init.author.email=b.dirheimer@gmail.com
init.author.name=Bradley Dirheimer
init.license=MIT
init.module=C:\Users\bdirh\.npm-init.js
init.version=1.0.0
json=true
npm-version=8.5.5
package-lock=false
rebuild-bundle=true
registry=https://registry.npmjs.org/
save=true
sign-git-commit=true
sign-git-tag=true
sso-poll-frequency=500
sso-type=oauth
user-agent=npm/{npm-version} node/{node-version} {platform} {arch} workspaces/{workspaces} {ci}
userconfig=C:\Users\bdirh\.npmrc
workspaces=false